<!DOCTYPE html>
<html lang='en-us'>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Music Me: {{ g.name }}</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/jquery/tipTip.css') }}"/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/custom.css') }}"/>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300,200'/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.tipTip.minified.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</head>

<body>
    <div class="navbar navbar-custom" role="navigation">
        <a href="/" style="color:rgb(158, 202, 59);text-decoration:none;font-size:30px">Music Me: {{ g.name }}</a>
        <p style="color:white;padding-right:10px;font-size:20px;">Berkshire Girls Code - January 15, 2015</p>
    </div>
    <div class="containter site-content">
            {% block search %}{% endblock %}
            {% block results %}{% endblock %}
    </div>

</body>
</html>
