{% extends "layout.html" %}
{% block search %}
  <div class="error_div" id="error_div">
      <p id="error_p"></p>
  </div>
  {% if not results %}
  <div class="container">
      <div class="row center-block">
        <form role="form" action="{{ url_for('word_cloud') }}" method='POST' id='sp-user'>
          <div class="form-group">
            <input type="text" placeholder="Spotify Username" class="form-control searchbox" name="sp-user"></input>
          </div>
            <button type="submit" class="btn btn-primary submit-button">Visualize Me</button>
        </form>
    </div>
  </div>
  {% else %}
    <div class="container">
      <div class="row center-block">
        <h1>Results</h1>
        <div id="card_wordcloud">
          <script>
            var fill = d3.scale.category20();
            var artists = {{ results|tojson }};

            var counts = {};
            artists.forEach(function(item) {
              counts[item.artists] = counts.hasOwnProperty(item.artists) ? counts[item.artists] + 1 : 1;
            });

            var maxFontSize = 40;
            var maxN = 0;

            for (var i in counts) {
              maxN = Math.max(counts[i], maxN)
            };

            var total_data = [];
            for (var i in counts) {
              var song_words = {};
              song_words["text"] = i;
              song_words["size"] = counts[i];
              total_data.push(song_words)
            }

            var values = Object.keys(total_data).map(function(key){
              return total_data[key].size;
            });

            function onlyUnique(value, index, self) {
                return self.indexOf(value) === index;
            }

            var uniqueNum = values.filter( onlyUnique ).sort(function(a, b){return a-b});

            var mapScaleNums = {};
            for (var i = 0; i < uniqueNum.length; i++) {
                mapScaleNums[uniqueNum[i]] = (i+1) * 10;
            }

            function scale(size) {
              return mapScaleNums[size];
            }

            d3.layout.cloud().size([800, 300])
                .words(total_data)
                //.padding(5)
                .rotate(0)
                .fontSize(function(d) { return d.size; })
                .on("end", draw)
                .start();

            function draw(words) {
              d3.select("#card_wordcloud").append("svg")
                  .attr("width", 1100)
                  .attr("height", 500)
                  .attr("class", "wordcloud")
                .append("g")
                  .attr("transform", "translate(550,250)")
                .selectAll("text")
                  .data(words)
                .enter().append("text")
                  .style("font-size", function(d, i) { return scale(d.size) + "px"; })
                  .style("fill", function(d, i) { return fill(i); })
                  .attr("transform", function(d) {
                    return "translate(" + [2*(d.x), 2*(d.y)] + ")rotate(" + d.rotate + ")";
                  })
                  .text(function(d) { return d.text; });
                }
          </script>
          </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
